.about-page{
    height: 100vh;
    width: 100vw;

}
.image-section{
    height: 50vh;
    width: 100vw;
    background-color: tomato;
}

.tech-stack-section{
    background-color: violet;
    height: 50vh;
    width: 100vw;
}

.stack-holder{
    height: 50vh;
    width: 100vw;
}

.stack-holder-header{
    background-color: teal;
    width: 40%;
    height: 50%;
}

@media only screen and (min-width: 650px) {
    .about-page{
        height: 100vh;
        width: 100vw;
        display: flex;
    }
.image-section{
    height: 100vh;
    width: 50vw;
    background-color: tomato;
}

.tech-stack-section{
    background-color: violet;
    height: 100vh;
    width: 50vw;
}

.stack-holder{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stack-holder-header{
    position: relative;
    top: 15%;
    background-color: teal;
    width: 80%;
    height: 10%;
    font-family: 'Lobster', cursive;
}

.skill-set{
    position: relative;
    top: 25%;
    background-color: teal;
    width: 80%;
    height: 65%;
    
}

.html-holder{

    width: 90%;
    height: 5%;
    background-color: wheat;

}

.skill-grade{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.skill{
    font-weight: bold;
    background-color: yellow;
    text-align: start;  
    width: 20%;
    height: 100%;
}


}